[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/alexandrup123
[access "refs/for/refs/*"]
	read = group user/alexandrup123
	push = group user/alexandrup123
	label-Code-Review = -2..+2 group user/alexandrup123
	label-Verified = -1..+1 group user/alexandrup123
	rebase = group user/alexandrup123
	removeReviewer = group user/alexandrup123
	submit = group user/alexandrup123
[access "refs/heads/*"]
	read = group user/alexandrup123
	create = group user/alexandrup123
	push = +force group user/alexandrup123
	pushMerge = group user/alexandrup123
[access "refs/tags/*"]
	push = group user/alexandrup123
	push = +force group user/alexandrup123
[receive]
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
[submit]
	mergeContent = true
